body {
  font-family: "Poppins", sans-serif;
  background-color: #bad5ff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  background-color: rgb(217, 221, 255);
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #7f8188;
  font-size: 16px;
}

.default {
  border-top: 50px solid #6fa8f8;
}

#image {
  float: right;
  max-width: 200px;
  max-height: 200px;
}

h1 {
  color: #36384d;
  font-size: 70px;
  text-align: center;
}
